.new-tweet {
  width: 66%;
  display: flex;
  flex-direction: column;
  
  /* align-items: center; */
}

button.tweet-button {
  font-size: 16px;
  font-family: 'Bungee';
  color: #FFFFFF;
  background-color: #4056A1;
  border-radius: 3px;
  /* background-color: rgba(64, 86, 161, 0.6); */
  /* background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png"); */
}

.toilet {
  margin: 30px auto;
}

.greeting {
  font-size: large;
}

textarea#tweet-text {
  background-color: #f4f1ec;
  height: 30px;
  width: 100%;
  font-size: medium;
  border: 2px solid transparent;
  border-bottom-color: #545149;
  border-bottom-width: 3px;
  border-radius: 3px;
  resize: none;
  outline: none;
}

.button-counter {
  font-size: 20px;
  font-family: 'Bungee';
  display: flex;
  align-items: center;
  justify-content: space-between;
}

output.negative-counter {
  color: red;
}