.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  
  /* align-items: center; */
}

/* #tweet {
  border: 1px solid #545149;
  box-shadow: 10px 10px 10px rgba(33,33,33,.2);
  border-radius: 3px;
} */

button.tweet-button {
  font-size: 16px;
  font-family: 'Bungee';
  color: #FFFFFF;
  background-color: #4056A1;
  border-radius: 3px;
  /* background-color: rgba(64, 86, 161, 0.6); */
  /* background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png"); */
}

.toilet {
  margin: 30px auto;
}

.greeting {
  padding-left: .1em;
  font-size: large;
  font-family: 'Permanent Marker';
}

textarea#tweet-text {
  background-color: #f4f1ec;
  height: 30px;
  width: 100%;
  font-size: medium;
  border: 2px solid transparent;
  border-bottom-color: #545149;
  border-bottom-width: 3px;
  border-radius: 3px;
  resize: none;
  outline: none;
}

.button-counter {
  font-size: 20px;
  font-family: 'Bungee';
  display: flex;
  align-items: center;
  justify-content: space-between;
}

output.negative-counter {
  color: red;
}

#error {
  font-size: medium;
  color:rgb(254,103,17);
  border: 2px solid rgb(254,103,17);
  border-radius: 3px;
  background-color: rgba(255,150,92, 0.2);
  width: 50vw;
  margin: auto;
  padding: .5em;
  display: none;
  text-align: center;
}