/* STYLE FOR THE TWEETS FEED */


#tweets-container {
  width: 100%;
}

article {
  border: 2px solid rgb(111, 110, 110);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: .5em;
  background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");

  
}
article:hover {
  box-shadow: 5px 5px 5px rgba(89, 116, 187, 0.5);
  background-color: white
}

.user-info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.icon-user {
  display: flex;
}
p.user {
  font-size: large;
  margin: 0;
  padding-left: .5em;
}

p.handle {
  opacity: 0.8;
  margin: 0;
  font-size: medium;
}

.date {
  color: rgb(10, 10, 10);
  font-size: x-small;
}

.footer {
  opacity: 0.7;
  border-top: 3px solid rgba(0, 0, 0, 0.72);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 5px;
  
}

.old-tweet {
  font-size: xx-large;
  font-family: 'Covered By Your Grace';
  margin-top: 1em;
  margin-bottom: 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.icons {
  font-size: medium;
}
i:hover {
  color: rgba(238, 201, 53, 0.864);
}
